:root {
  --main-color: #ff8243;
  --second-color: #0d0d25;
}
body {
  background-color: #F3F3F5;
}
nav i {
  color: var(--main-color);
  right: 15%;
}

nav li a:hover {
  color: var(--main-color) !important;
  transition: all 0.5s;
}
.main-color {
  color: var(--main-color);
}
header h1 {
  font-size: 80px;
}
header .second-color {
  color: var(--second-color);
}
header .images img {
  width: 85%;
  height: 85%;
}
h2 {
  color: var(--main-color) !important;
}
h3 {
  color: var(--second-color) !important;
}
.menu ul {
  width: 60%;
}
.menu .card img {
  width: 60%;
  height: 60%;
  bottom:  70%;
  left: 15%;
}
.menu .card {
  cursor: pointer;
}
.menu .card:hover {
  transform: scale(.99);
}

.book-table i {
  color: var(--main-color);
  width: 80px;
  height: 80px;
}
.chefs i {
  color: var(--main-color);
}
.say .card .image img {
  width: 60%;
  height: 60%;
  transform: translate(-4% , -50%);
  margin-bottom: -50px;
}

.link li:hover {
  color: var(--main-color);
  transition: all .5s;
  cursor: pointer;
}